---
import '../assets/styles/style.css';
import Ornament from '../components/Ornament';
import Default from '../layouts/Default.astro';
---

<Default title="404 Not Found">
  <main style="height: 100vh;" class="main-section flex items-center justify-center h-screen">
    <div class="overlay"></div>
    <div class="z-10 relative">
      <h2 class="text-center"></h2>
    </div>
  </main>
</Default>
