---
import BlogLayout from '../layouts/Blog.astro';
---

<!-- background-color: #FFF7F4; -->
<BlogLayout title="Blog">
  <main class="flex items-center justify-center">
    <!-- <div class="overlay"></div> -->
    <div class="z-10 relative">
      <div
        class="p-4 md:p-10 h-full w-full md:bg-gray-300 rounded-md md:bg-clip-padding backdrop-filter backdrop-blur-md md:bg-opacity-10 md:border md:border-gray-100"
      >
        <h2 class="text-2xl font-bold tracking-wider">lorem ipsum</h2>
        <p class="text-sm mt-8 leading-relaxed">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit eligendi quaerat
          eaque ipsam quos temporibus cum, a architecto nam! Doloribus fuga cupiditate accusamus
          omnis, molestiae amet. Iure, quos voluptate, non temporibus quas odit mollitia blanditiis
          itaque quaerat distinctio suscipit est at qui similique enim! Consequuntur corrupti natus
          temporibus quam, laborum cumque, architecto veritatis harum minus maxime excepturi dicta
          numquam voluptatum quo! Sapiente sed harum voluptatem tenetur facere corporis perferendis,
          eveniet impedit architecto ipsa dolorem obcaecati laboriosam quis doloribus laborum eius
          eaque cum explicabo blanditiis officiis consectetur sint! Quos officiis dolorum quas aut,
          nisi debitis facilis porro et rem, minima obcaecati maiores ad doloribus eaque vel. Dicta
          numquam, delectus voluptatibus repellat vero amet
          <br />
          <br />
          nemo perspiciatis? Voluptatibus inventore obcaecati dolorum numquam quasi autem sit eaque veritatis,
          id quibusdam nulla est aspernatur molestiae cumque? Deserunt dolores soluta porro id? Incidunt,
          ipsam officiis aperiam deleniti ratione eum veritatis dicta vitae maxime, sunt praesentium
          consectetur ducimus provident, quos atque quas tenetur! Vitae blanditiis ducimus nisi maxime
          repudiandae rem unde asperiores perferendis ex neque consequatur temporibus soluta aliquam
          sit cupiditate, officia ea dicta ratione laudantium nam. Mollitia vel assumenda nesciunt labore
          sed ipsa ex unde, nostrum voluptas officia maxime deleniti expedita repellendus laborum delectus
          maiores dolores reiciendis, beatae molestias similique laboriosam reprehenderit? Ratione rerum
          hic maxime labore praesentium laboriosam blanditiis cupiditate eius officiis aliquam. Sapiente
          laborum rerum nam similique excepturi exercitationem atque reprehenderit incidunt, architecto
          ducimus odio obcaecati tempore, ratione delectus ipsa id expedita?
          <br />
          <br />
          Iste eum labore id, quibusdam laboriosam a, quo quidem, assumenda similique repudiandae deserunt
          quae soluta modi quaerat sequi tempore corporis? Vitae dolores necessitatibus fugit deserunt
          a molestiae, pariatur soluta, reprehenderit ipsum vero magni voluptatem maiores assumenda molestias
          rem doloremque nihil incidunt et quam. Quos recusandae quia ad reprehenderit tempore porro,
          iste sequi commodi exercitationem maiores dolorem voluptatem dolorum at soluta ab eos autem
          molestias eligendi. Alias cupiditate laboriosam assumenda blanditiis delectus vel dolorum autem
          dolore ratione dolorem totam quaerat voluptates eligendi consequuntur pariatur earum, obcaecati
          itaque. Nam accusantium ut autem dolor. Aspernatur eaque modi at corrupti repellat iure dolore
          sequi numquam perspiciatis consequatur deleniti necessitatibus assumenda quo ipsa temporibus,
          ad laudantium fuga nostrum, aperiam ipsum perferendis dicta? Quis enim hic harum numquam magnam
          rerum, veritatis magni odio fugiat sint eum voluptatibus. Fugit necessitatibus non modi animi
          iure ipsa repellat reiciendis quod, velit perspiciatis corporis dignissimos blanditiis dolor
          veniam ad, delectus veritatis quia aliquam inventore, iusto beatae ipsam a voluptas dolorum?
          Ad commodi cumque corrupti aperiam alias placeat eum, doloremque in, inventore rem, quod fugit
          facere aut dolore dolores. Vel, quos. Voluptatibus adipisci deleniti eos dicta reprehenderit
          fuga rem ut laudantium magni aperiam? Eveniet aut debitis adipisci impedit, at voluptatum blanditiis
          quis aliquid neque. Reprehenderit dolorum reiciendis magni, odit distinctio ipsa eius ad excepturi,
          voluptatum architecto nam, aliquid tenetur fugit sed quisquam hic nobis iure eum beatae deserunt
          officiis vel earum quod quidem. Minus fuga optio assumenda. Cum hic aperiam ipsum veritatis!
          Dolore autem dignissimos quod esse enim eius totam inventore! Iusto facere tempora atque dolore
          similique ad incidunt minus veniam debitis id!
        </p>
        <p class="text-sm mt-8">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit eligendi quaerat
          eaque ipsam quos temporibus cum, a architecto nam! Doloribus fuga cupiditate accusamus
          omnis, molestiae amet. Iure, quos voluptate, non temporibus quas odit mollitia blanditiis
          itaque quaerat distinctio suscipit est at qui similique enim! Consequuntur corrupti natus
          temporibus quam, laborum cumque, architecto veritatis harum minus maxime excepturi dicta
          numquam voluptatum quo! Sapiente sed harum voluptatem tenetur facere corporis perferendis,
          eveniet impedit architecto ipsa dolorem obcaecati laboriosam quis doloribus laborum eius
          eaque cum explicabo blanditiis officiis consectetur sint! Quos officiis dolorum quas aut,
          nisi debitis facilis porro et rem, minima obcaecati maiores ad doloribus eaque vel. Dicta
          numquam, delectus voluptatibus repellat vero amet
          <br />
          <br />
          nemo perspiciatis? Voluptatibus inventore obcaecati dolorum numquam quasi autem sit eaque veritatis,
          id quibusdam nulla est aspernatur molestiae cumque? Deserunt dolores soluta porro id? Incidunt,
          ipsam officiis aperiam deleniti ratione eum veritatis dicta vitae maxime, sunt praesentium
          consectetur ducimus provident, quos atque quas tenetur! Vitae blanditiis ducimus nisi maxime
          repudiandae rem unde asperiores perferendis ex neque consequatur temporibus soluta aliquam
          sit cupiditate, officia ea dicta ratione laudantium nam. Mollitia vel assumenda nesciunt labore
          sed ipsa ex unde, nostrum voluptas officia maxime deleniti expedita repellendus laborum delectus
          maiores dolores reiciendis, beatae molestias similique laboriosam reprehenderit? Ratione rerum
          hic maxime labore praesentium laboriosam blanditiis cupiditate eius officiis aliquam. Sapiente
          laborum rerum nam similique excepturi exercitationem atque reprehenderit incidunt, architecto
          ducimus odio obcaecati tempore, ratione delectus ipsa id expedita?
          <br />
          <br />
          Iste eum labore id, quibusdam laboriosam a, quo quidem, assumenda similique repudiandae deserunt
          quae soluta modi quaerat sequi tempore corporis? Vitae dolores necessitatibus fugit deserunt
          a molestiae, pariatur soluta, reprehenderit ipsum vero magni voluptatem maiores assumenda molestias
          rem doloremque nihil incidunt et quam. Quos recusandae quia ad reprehenderit tempore porro,
          iste sequi commodi exercitationem maiores dolorem voluptatem dolorum at soluta ab eos autem
          molestias eligendi. Alias cupiditate laboriosam assumenda blanditiis delectus vel dolorum autem
          dolore ratione dolorem totam quaerat voluptates eligendi consequuntur pariatur earum, obcaecati
          itaque. Nam accusantium ut autem dolor. Aspernatur eaque modi at corrupti repellat iure dolore
          sequi numquam perspiciatis consequatur deleniti necessitatibus assumenda quo ipsa temporibus,
          ad laudantium fuga nostrum, aperiam ipsum perferendis dicta? Quis enim hic harum numquam magnam
          rerum, veritatis magni odio fugiat sint eum voluptatibus. Fugit necessitatibus non modi animi
          iure ipsa repellat reiciendis quod, velit perspiciatis corporis dignissimos blanditiis dolor
          veniam ad, delectus veritatis quia aliquam inventore, iusto beatae ipsam a voluptas dolorum?
          Ad commodi cumque corrupti aperiam alias placeat eum, doloremque in, inventore rem, quod fugit
          facere aut dolore dolores. Vel, quos. Voluptatibus adipisci deleniti eos dicta reprehenderit
          fuga rem ut laudantium magni aperiam? Eveniet aut debitis adipisci impedit, at voluptatum blanditiis
          quis aliquid neque. Reprehenderit dolorum reiciendis magni, odit distinctio ipsa eius ad excepturi,
          voluptatum architecto nam, aliquid tenetur fugit sed quisquam hic nobis iure eum beatae deserunt
          officiis vel earum quod quidem. Minus fuga optio assumenda. Cum hic aperiam ipsum veritatis!
          Dolore autem dignissimos quod esse enim eius totam inventore! Iusto facere tempora atque dolore
          similique ad incidunt minus veniam debitis id!
        </p>
      </div>
    </div>
  </main>
</BlogLayout>
