---
import Layout from '@layouts/Layout.astro';
import CardBlog from '@components/cards/CardBlog.astro';
import Header from '@components/Header/Header.astro';
import CardSingle from '@components/cards/CardSingle';
---

<Layout title="M. Haikal Rahmadi - Software Developer">
  <main class="z-10 relative h-screen">
    <div class="mt-20">
      <Header />
      <div class="mt-16">
        <CardSingle client:only />
      </div>
      <!-- <div class="header-info mt-32">
        <div class="flex justify-between mb-3 items-center">
          <h4 class="font-bold text-2xl">Blog</h4>
          <a class="text-sm font-medium" href="">See More</a>
        </div>
        <CardBlog />
      </div> -->
    </div>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
