---
import Layout from '../layouts/Layout.astro'
import Example from '../components/example/Example'
---

<Layout title="This is a tester page">
  <main>
    <h1>Hai</h1>
    <Example title="halo ini adalah sub" subtitle='mantab' />
  </main>
</Layout>
