---
export type Props = {
  pageSlug: string;
  pageTtile: string;
};

const { pageSlug, pageTtile } = Astro.props;

const navigation = [
  {
    title: "Home",
    url: "home",
  },
  {
    title: "Blog",
    url: "About",
  },
  {
    title: "Home",
    url: "home",
  },
];
---

<div class="navbar-nav w-full mx-auto z-20">
  <nav class="navbar-bg border-gray-200 mx-auto py-5 rounded-lg">
    <div
      class="flex justify-between items-center w-auto md:order-1"
      id="mobile-menu-3"
    >
      <ul
        class="flex-row flex space-x-8 mt-0 text-sm font-medium z-20"
      >
        {
          navigation.map(({ title, url }) => (
            <li>
              <a
                href={url}
                class="md:bg-transparent text-md text-bold font-extrabold block pl-3 pr-4 p-0 rounded"
                aria-current="page"
              >
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</div>

<script>
  const navbarContainer = document.querySelector(
    ".navbar-nav"
  ) as HTMLDivElement;

  const mainContainer = document.querySelector("main") as HTMLElement;

  const scrollTriggerDistance = navbarContainer.clientHeight;

  const handleScroll = () => {
    const scrollPosition =
      window.pageYOffset || document.documentElement.scrollTop;
    if (scrollPosition >= scrollTriggerDistance) {
      mainContainer.style.marginTop = `${scrollTriggerDistance}px`
      navbarContainer.classList.add("navbar-glass", "show");
    } else {
      navbarContainer.classList.remove("navbar-glass", "show");
      mainContainer.style.marginTop = `0`

    }
  };

  // Attach the scroll event listener
  window.addEventListener("scroll", handleScroll);
</script>
