---
import { Icon } from "astro-icon";
const sosmedData = [
  
  {
    icon: "linkedin",
    link: "https://www.linkedin.com/in/m-haikal-rahmadi/",
  },
 
  {
    icon: "github",
    link: "https://github.com/GagaPoloJr",
  },
  {
    icon: 'whatsapp',
    link: 'https://api.whatsapp.com/send/?phone=6285156142572'
  }

];
---

<div class="flex gap-5 w-full justify-center  mb-10 md:mb-16">
  {
    sosmedData.map(({link, icon}) => (
      <a
        class="transition-all duration-300 ease-in-out hover:text-violet-500 hover:translate-y-[-2px] dark:text-slate-100 dark:hover:text-violet-600"
        href={link}
        target="_blank"
      >
        <span>
          <Icon pack="mdi" name={icon} size={20} />
        </span>
      </a>
    ))
  }
</div>
