@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

:root {
  --light-blue: #e5f5f4;
  --light-green: #bceeeb;
  --light-yellow: #f4fed8;
  --gray-light: #464646;
}


body {
  font-family: "Montserrat", sans-serif;
  background: rgb(229, 245, 244);
  overflow-x: hidden;
  background: linear-gradient(
    180deg,
    rgba(229, 245, 244, 1) 0%,
    rgba(188, 238, 235, 1) 76%,
    rgba(244, 254, 216, 1) 100%
  );
  /* @apply h-auto; */
  color: var(--gray-light);
}

button{
  font-size: unset;
}


.main-section{
  position: relative;
  z-index: 3;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
 @apply h-auto w-full bg-gray-400  bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40 ;
}
.navbar-glass {
  @apply bg-gray-300 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-40 border border-gray-100 h-full;
}

.ornament{
  position: absolute;
  z-index: 1;
}

.ornament-circle-style-1 {
  top: -300px;
  left: -300px;
  border-radius: 50%;
  height: 700px;
  width: 700px;
  @apply bg-gradient-to-bl from-pink-400 to-violet-500 blur-2xl;
}
.ornament-circle-style-2 {
  top: -100px;
  right: -250px;
  border-radius: 50%;
  height: 700px;
  width: 700px;
  @apply bg-gradient-to-bl from-orange-400 to-lime-100 blur-2xl;
}
