@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

:root {
  --light-blue: #e5f5f4;
  --light-green: #bceeeb;
  --light-yellow: #f4fed8;
  --gray-light: #464646;
  --purple: #9376e0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  margin: auto;
  padding: 1.5rem;
  max-width: 80ch;
}

body {
  font-family: "Montserrat", "Jost", sans-serif;
  background: rgb(229, 245, 244);
  overflow-x: hidden;
  background: linear-gradient(
    180deg,
    rgba(229, 245, 244, 1) 0%,
    rgba(188, 238, 235, 1) 76%,
    rgba(244, 254, 216, 1) 100%
  );
  color: var(--gray-light);
}

button {
  font-size: unset;
}

.main-section {
  position: relative;
  /* z-index: 3; */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  /* @apply h-full w-full bg-gray-400  bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40; */
  @apply h-full w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10;
}
.navbar-glass {
  @apply fixed bg-gray-300 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-40 border border-gray-100 top-0 left-0 transition duration-300 ease-in-out;
  top: -100px;
}

.navbar-bg {
  max-width: 80ch;
  padding: 1.5rem;
}

/* Show the navbar when the navbar-glass class is added */
.navbar-glass.show {
  top: 0;
}

.ornament {
  position: absolute;
  z-index: 1;
}

.bubble {
  z-index: 1;
}

.ornament-circle-style-1 {
  @apply rounded-full h-[700px] w-[700px] max-w-full top-[-300px] left-[-250px] md:left-[-300px] bg-gradient-to-bl from-pink-400 to-violet-500 blur-2xl;
}
.ornament-circle-style-2 {
  @apply rounded-full h-[300px] md:h-[700px] w-[300px] md:w-[700px] max-w-full top-[-100px] right-[0] md:right-[-250px] bg-gradient-to-bl from-orange-400 to-lime-100 blur-2xl;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - 100px));
  }
}
